<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
<form name="myForm" action="/employees" onsubmit="return Validation()"  method="post" enctype="multipart/form-data">
<div class="card" align="">
   
<div class="col-lg-4 col-offset-9 centered">
<%= form_with model: @employee  do |form| %>


<div class="form-group" >
  First_Name => <%= form.text_field  :first_name ,{ class: "form-control"}%>

  <span style="font-color:red;" id = "fspan"></span> 

  <% @employee.errors.full_messages_for(:first_name).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>

  
  <div class="form-group">
  Last_Name => <%= form.text_field  :last_name , { class: "form-control"}%>

  <span id="lspan"></span>
  <% @employee.errors.full_messages_for(:last_name).each do |message| %>

    <div><%= message %></div>
  <% end %>
</div>
  


  <div class="form-group">
  Email=> <%= form.email_field  :email , { class: "form-control"}%>
  <span id="espan"></span>
  <% @employee.errors.full_messages_for(:email).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </div>
  
  <div class="form-group">
  Mobile=> <%= form.text_field  :mobile , { class: "form-control"  } %>
  <span id="mspan"> </span>
  <% @employee.errors.full_messages_for(:mobile).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </div>

  D.o.B=> <%= form.date_field  :dob ,{ class: "form-control"}%>  
  <span id="dobspan"> </span>
    <br>   ,
 D.o.J=> <%= form.date_field  :doj ,{ class: "form-control"} %>
 <span id="dojspan"></span>
  </div></div></div>
  
  Address=> 
  <% a = 0 %>
  
  <br><%= form.fields_for :addresses  do |add| %>
  <div align="center">
  <div class="card" >
   <div class="form-group" >
<div class="col-lg-4 ">
  
  <div id =  "one<%=a%>" >
  <span style="color:red">
   <%= @lebel = "please write your #{@first} address here" %>
 </span>
  <div style="" align="center" >
  <p>
    <%#= add.label :address_types %>
   <%#= add.select :address_types ,['Current','Permanent'],{include_blank: true}, placeholder: "address_types"%> 

   <%= add.hidden_field :address_types ,:value => @first , include_blank: true %>
    

    <%#= add.label :country %><div>
    <%= add.text_field :country ,{ class: "form-control",  placeholder: "country" }%>

    <%#= add.label :state %>
    <%= add.text_field :state , { class: "form-control" , placeholder: "State" }%>

    <%#= add.label :city  %>
    <%= add.text_field :city ,{ class: "form-control" , placeholder: "city" }%>              

    <%#= add.label :Street_Address %>
    <%= add.text_field :street_address ,{ class: "form-control",  placeholder: "street_address" }%>
  
  </p>
</div>
<% @first = "Permanent" %>

  
  <% if a == 0 %>
    <div id= "boxe"> <%= add.check_box :chek ,:onchange => "func()" %>Do u have same permanent Address?
  <% a = 1 %>
  <% end %>
  <% @first = "Permanent" %>
</div></div></div> </div></div></div></div></div>
  <% end %>
  <br><%#= form.fields_for :designations  do |desig| %>
  <div class="form-group">
<%= form.select :designation_id , options_for_select(Designation.all.collect{|p| [p.desig_name,p.id]}) %>
<span id="desispan"></span>
 </div>
<br><br>
<%#= desig.select :user_id, options_for_select(@users.collect { | user | [user.name, user.id] }, @user.id), {}, {} %>
<%# end %>
  <%= form.file_field :image %><br><br>
  <%= form.submit 'Employee_Signup' , data: { disable_with: false }%>
  <% end %>
</div>
</p></div></div></div></div></div></div>
</form>

 <div id="test">
  <h1>Hello world</h1>
</div>