
<div class="navbar navbar-light bg-light" align="center">
  <div class="form-inline">
  <%= form_tag search_path,method: "get" do %>
    <%= text_field_tag :search,params[:search] ,placeholder: "Employees",:class => "form-control mr-sm-2" %> 

    <%=   submit_tag "Search" ,:class => "btn btn-success my-2 my-sm-0" %>
  <% end %>


</div>

</div>

<div class="navbar navbar-light bg-light" align="center">
  <div class="form-inline">
 <select  id="designations" placeholder="select designation">
  <option value="0">All designation</option>
<%= Designation.all.each do |designation| %>
  <option value="<%=designation.id%>"><%= designation.desig_name %></option>

 <% end %>
</select>
</div></div>