<h1>Employees =></h1>
<%= link_to 'back' , employees_path %>

<h3><%= link_to 'New_Employee?', new_employee_path  %></h3>
<div class="container">
  <div class="row">
    <% @search.each do |epr| %>
    <div class="col-md-3">
      <div class="card">
        <% if epr.image.attached? %>
          <%= image_tag  url_for(epr.image) ,:size => "260x180"%>
        <% end %>
        <div class="card-title">
          <%= epr.id %>
          Name = <%= epr.first_name %>
                 <%= epr.last_name %>
        <div class="card-text">
          Email = <%= epr.email %><br>
          
          Mobile = <%= epr.mobile %><br>
          Date_of_birth = <%= epr.dob %><br>
          Date_of_Joining = <%= epr.doj %>,<%= link_to 'address' ,adres_path(epr.id) %> 
          <%= link_to 'edit',edit_employee_path(epr.id) %>
          <div>
<td  ><button data-toggle="modal" data-target="#myModal"  >delete</button></td></tr>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Are You Sure ?</h4>
        </div>
        <div class="modal-body">
          <p>You are destroying the the employees detail...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ><%= link_to 'No' ,employees_path %></button>
        
          <button type="button" class="btn btn-default" ><%= link_to 'Delete' ,employee_path(epr.id),method: :delete %></button>
        </div>
      </div>
      
    </div>
  </div></div></div></div></div></div>
<% end %>
</div></div>