<br>
<h1>Updating_Employee Form =></h1><br>
<%= @lebel = "" %>

<%#= render 'form' %>
<%= form_with model: @employee  do |form| %>
<div class="form-group">
  First_Name => <%= form.text_field  :first_name ,{ class: "form-control", placeholder: "" }%>
  <% @employee.errors.full_messages_for(:first_name).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>

  
  <div class="form-group">
  Last_Name => <%= form.text_field  :last_name , { class: "form-control", placeholder: "" } %>
  <% @employee.errors.full_messages_for(:last_name).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>
  


  <div class="form-group">
  Email=> <%= form.text_field  :email , { class: "form-control", placeholder: "" } %>
  <% @employee.errors.full_messages_for(:email).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </div>
  
  <div class="form-group">
  Mobile=> <%= form.text_field  :mobile , { class: "form-control" , placeholder: "" } %>
  <% @employee.errors.full_messages_for(:mobile).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </div>
  D.o.B=> <%= form.date_field  :dob ,{ class: "form-control"}%>    <br>   ,
 D.o.J=> <%= form.date_field  :doj ,{ class: "form-control"} %>
  </div></div></div>
  
  <br><%= form.fields_for :designations  do |desig| %>
<%= desig.select :id , options_for_select(Designation.all.collect{|p| [p.desig_name,p.id]}) , placeholder: "Designation" %>
<% end %>
<%#= desig.select :user_id, options_for_select(@users.collect { | user | [user.name, user.id] }, @user.id), {}, {} %>
<%= form.file_field :image %>
 <div class="btn btn-primary"> <%= form.submit 'Employee_Signup'%></div>

<% end %>