<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<%= render  'research' %>

<div class="container">
<h1>Employees =></h1>
<h3><%= link_to 'New_Employee?', new_employee_path  %></h3>
<div class="table-responsive" >
<table class = "table" border="solid"><tr>
	<th>ID</th>
	<th>First_Name</th>
	<th>Last_Name</th>
	<th>Email</th>
	<th>Address</th>
	<th>Mobile</th>
	<th>D_o_B</th>
	<th>D_o_J</th>
</tr>

<% @employees.each do |epr| %>
<tr >
</tr><td> <%= epr.id %></td>
<td>  <%= epr.first_name %></td>
<td><%= epr.last_name %></td>
<td>  <%= epr.email %></td>
<td> <%= link_to 'address' ,"/adda.#{epr.id}" %> </td>
<td>  <%= epr.mobile %></td>
<td>  <%= epr.dob %></td>
<td>  <%= epr.doj %></td>
<td ><%= link_to 'edit',edit_employee_path(epr.id) %></td>

<div>
<td  ><button data-toggle="modal" data-target="#myModal"  >delete</button></td>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Are You Sure ?</h4>
        </div>
        <div class="modal-body">
          <p>You are destroying the the employees detail...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ><%= link_to 'No' ,employees_path %></button>
        
          <button type="button" class="btn btn-default" ><%= link_to 'Delete' ,employee_path(epr.id),method: :delete %></button>
        </div>
      </div>
      
    </div>
  </div>
</div>

</tr>
<% end %>

</table></div></div>

  
</div>
</script>
