<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<%= render  'research' %>
<h1 >Employees =></h1>
<h2><%= link_to 'Designations',designations_path %></h2>
<h3><%= link_to 'Add_New_Employee?', new_employee_path  %></h3>

<div class="container">
  <div class="row">
    <% a = 0 %>
    <% @employees.each do |epr| %>
    
    <div class="col-md-3" id="demo<%=epr.id%>" onmouseover="mouseIn(this.id)" onmouseout="mouseOut(this.id)">
      <div id="demo<%=epr.id%>"  >
        <% a = a + 1 %>
        <% if epr.image.attached? %>
          <%= image_tag  url_for(epr.image) ,:size => "260x180" %>
        <% end %>
        <div class="card-title"  >
          <%= epr.id %>
          Name = <%= epr.first_name %>
                 <%= epr.last_name %>
        <div class="card-text">
          Email = <%= epr.email %><br>
          <%# debugger %>
          <% @de = Designation.find_by_id(epr.designation_id) %>
          
          Designation = <%= @de.desig_name %><br>

         <div id="fonting"   >
          Mobile = <%= epr.mobile %><br>
        </div>

          Date_of_birth = <%= epr.dob %><br>
          Date_of_Joining = <%= epr.doj %>,<%= link_to 'address' ,"/adda.#{epr.id}" %> 
          <%= link_to 'edit',edit_employee_path(epr.id) %>
          <%= link_to 'Delete' ,employee_path(epr.id),method: :delete,data: {confirm: "Are U sure ?"} ,remote: true %>
          
          <div>

         <button data-toggle="modal" data-target="#myModal"  >delete</button>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Are You Sure ?</h4>
        </div>
        <div class="modal-body">
          <p>You are destroying the the employees detail...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ><%= link_to 'No' ,employees_path %></button>
        
          <button type="button" class="btn btn-default" ><%= link_to 'Delete' ,employee_path(epr.id),method: :delete %></button>
        </div>
      </div>
      
    </div>
  </div></div></div></div></div></div>
<% end %>
</div></div>
<script type="text/javascript">
  function mouseIn(geted){
    document.getElementById(geted).style.fontColor = "red";
    document.getElementById(geted).style.backgroundColor = "blue"
}

function mouseOut(geted){
    document.getElementById(geted).style.color = "black";
    document.getElementById(geted).style.backgroundColor = "white"
}

</script>