<!DOCTYPE html>
<html>
  <head>
    <title>EMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%#= javascript_pack_tag 'employees', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-mutate-approach="sync"></script> -->
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- this line no.15 has webpacker error -->
 <%= stylesheet_pack_tag 'application' , 'data-turbolinks-track': 'reload'%>
  </head><div class = "container" align="center">
         <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p></div>
  <body>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="# " style="color:blueviolet;" ><h3><%= link_to "Employee Management System" ,root_path %></h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
     <% if user_signed_in? %>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= link_to 'Edit profile', edit_user_registration_path    %></a>
      </li>
      <li class="nav-item">
        <%#= link_to 'Add New Employee?', new_employee_path ,:class => "nav-item" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Designations',designations_path %>
      </li>
      <li class="nav-item">
        <%= link_to "designation_group" , employees_grouping_path %>
      </li>
    </ul>
     <%= button_to "Logout", destroy_user_session_path, method: :delete ,:class => "nav-item nav-inline"  %>
     <h4 style="color:red">  <%= current_user.name %>
    <% else %>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

      </li>
    </ul>
    <%end %>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
